*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f4ef;
    line-height: 1.6;
}

/* comienzo navbar*/
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1c1c1c;
    padding: 10px;
}

.nav-logo{
    display: block;
    max-width: 100%;
    height: auto;

}

.nav-titulo{
    font-size: 2rem;
    color: #f4aed4;
    letter-spacing: 1px;
    margin-right: auto;
    padding-left: 20px;
}

.nav-logo-link{
    display: flex;
    align-items: center;
}

.nav-lista{
    display: flex;
    list-style: none;
    gap: 30px;
    margin-right: 25px;
}

.nav-item a{
    text-decoration: none;
    color: #f8f4ef;
    font-weight: 600;
    font-size: 1rem;
    text-transform: uppercase;
}

.nav-item a:hover{
    color: #f4aed4;
}
/* Fin navbar*/

/* Comienzo Main Home*/
.main-container{
    max-width: 1600px;
    margin: 40px auto;
    padding: 0 20px;
}

/*card-container es un generico para crear secciones tipo card (El borde por fuera de cada seccion))*/
.card-container {
    max-width: 1200px;
    margin: 0 auto 20px auto;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.main-container h2{
    text-align: left;
    color: #1c1c1c;
    font-size: 2rem;
    margin: 0  0 25px 0;
    padding-bottom: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.seccion-texto p{
    margin-bottom: 20px;
    font-size: 1.1rem;
}

.galeria-home-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 30px;
}

.galeria-home-container img{
    flex: 1 1 200px;
    max-width: 250px;
    height: auto;
    border-radius: 8px;
}

.galeria-home-container img:hover{
    transform: translateY(-5px);
}

.btn-container{
    text-align: left;
    margin-top: 40px;
}

.btn-home-galeria{
    display: inline-block;
    background-color: #1c1c1c;
    color: #f8f4ef;
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 30px;
    font-weight: bold;
    text-transform: uppercase;
    
}

.btn-home-galeria:hover{
    background-color: #f4aed4;
    color: #1c1c1c;
}

.lista-joyas {
    display: flex;
    flex-wrap: wrap; 
    gap: 15px; 
    list-style: none; 
    padding: 0;
    margin-top: 20px;
}

.lista-joyas li {
    background-color: #1c1c1c; 
    color: #f8f4ef;
    padding: 12px 25px;
    border-radius: 8px; 
    font-size: 1rem;
}

.btn-red {
    width: 45px;
    height: 45px;
    background-color: #1c1c1c;
    border-radius: 8px;
}

.btn-red:hover{
    background-color: #f4aed4;
    color: #1c1c1c;
}

.testimonio-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    margin-top: 30px;
}

.testimonio-card{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    flex: 1 1 250px;
    max-width: 300px;
    text-align: left;
    font-style: italic;
    border: 2px solid #1c1c1c;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.testimonio-card strong{
    display: block;
    margin-top: 10px;
    text-align: right;
    font-style: normal;
    font-size: 0.9rem;
}
/* Fin Main Home*/
/* Comienzo view Productos*/
.galeria-productos{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.producto{
    display: flex;
    align-items: center;
    gap: 20px;
    background: white;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,.15);
}

.producto img{
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

.info-producto h3{
    margin: 0 0 10px 0;
    font-size: 1.6rem;
}

.info-producto p{
    margin: 0;
}
/* Fin view Productos*/
/* Comienzo footer*/
.footer{
    background-color: #1c1c1c;
    color: #f8f4ef;
    padding: 40px 40px 20px 40px;
}

.footer-sup{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 30px;
    margin-top: 15px;
}

.footer-seccion{
    flex: 1;
    min-width: 200px;
}

.footer-logo {
    display: block;
    max-width: 100%;
    height: auto;
}

.footer-titulo{
    color: #f4aed4;
    font-size: 1.1rem;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

.footer-lista li{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    font-size: 0.9rem;
}

.lista-redes{
    display: flex;
    gap: 15px;
}

.footer-inf{
    text-align: center;
    border-top: 1px solid #333333;
    padding-top: 10px;
    font-size: 0.8rem;
    color: #aaaaaa;
}