<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
        <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <header class="navbar">
        <a href="../index.html" class="nav-logo-link">
            <img src="../assets/img/logo.png" alt="Logo MavsJewerly" width="100" class="nav-logo">
        </a>
        <h1 class="nav-titulo">Mavs Jewerly</h1>
        <nav class="nav-container">
            <ul class="nav-lista">
                <li class="nav-item"><a href="../index.html">Inicio</a></li>
                <li class="nav-item"><a href="productos.html">Productos</a></li>
                <li class="nav-item"><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main id="main-container">
        <section class="seccion-texto card-container">
            <h1>Contacto</h1>
            <p>
                Si tienes alguna consulta o idea, no dudes en ponerte en contacto con nosotros.
            </p>

        </section>

        <section class="form-contacto card-container">
            <h2>Formulario de Contacto</h2>

            <form action="#" method="post" class="form-contacto"> <!-- Action pendiente mientras no haya Javascript-->
                <label for="nombretxt">Nombre:</label><br>
                <input type="text" id="nombretxt" name="nombretxt" required placeholder="Ingresa tu nombre">

                <label for="mailtxt">Correo Electrónico:</label><br>
                <input type="email" id="mailtxt" name="mailtxt" required placeholder="Ingresa tu correo electronico">

                <label for="consultaddl">Tipo de Consulta:</label><br>
                <select id="consultaddl" name="consultaddl">
                    <option>Información de productos</option>
                    <option>Cotización</option>
                    <option>Promociones</option>
                    <option>Otro</option>
                </select>

                <label for="mensajetxt">Mensaje:</label><br>
                <textarea id="mensajetxt" name="mensajetxt" rows="6" placeholder="Escribe aqui tu mensaje"></textarea>

                <div class="btn-formulario-container">
                    <input type="reset" value="Limpiar" class="btn-formulario">
                    <input type="submit" value="Enviar" class="btn-formulario">
                </div>
            </form>
        </section>
    </main>

    <footer class="footer">
        <div class="footer-sup">
            <div class="footer-seccion">
                <img src="../assets/img/logo.png" alt="Logo footer" width="70" class="footer-logo">
            </div>

            <div class="footer-seccion">
                <h3 class="footer-titulo">CONTACTO</h3>
                <ul class="footer-lista">
                    <li><img src="../assets/img/whatsapp_icon.svg" alt="WhatsApp"> +56 9 8923 4239</li>
                    <li>mavenegas.s.mv@gmail.com</li>
                </ul>
            </div>

            <div class="footer-seccion">
                <h3 class="footer-titulo">NUESTRAS REDES</h3>
                <ul class="footer-lista lista-redes">
                    <li><a href="https://instagram.com/mavs_jewerly"><img src="../assets/img/instagram_icon.svg" alt="Instagram"></a></li>
                    <li><a href="https://tiktok.com/@mavs_jewerly"><img src="../assets/img/tiktok_icon.svg" alt="Tiktok"></a></li>
                    <li><a href="https://www.facebook.com/profile.php?id=61570840502174&mibextid=ZbWKwL"><img src="../assets/img/facebook_icon.svg" alt="Facebook"></a></li>
                </ul>
            </div>
        </div>
        <div class="footer-inf">
            <p>© Mavs Jewelry. Todos los derechos reservados. </p>
        </div>
    </footer>
</body>
</html>