<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
        <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <header class="navbar">
        <a href="../index.html" class="nav-logo-link">
            <img src="../assets/img/logo.png" alt="Logo MavsJewerly" width="100" class="nav-logo">
        </a>
        <h1 class="nav-titulo">Mavs Jewerly</h1>
        <nav class="nav-container">
            <ul class="nav-lista">
                <li class="nav-item"><a href="../index.html">Inicio</a></li>
                <li class="nav-item"><a href="productos.html">Productos</a></li>
                <li class="nav-item"><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div>
            <h1>Productos</h1>
            <div>
                <img src="../assets/img/Producto1.jpg" alt="Producto 1" width="200">
                <img src="../assets/img/Producto2.jpg" alt="Producto 2" width="200">
                <img src="../assets/img/Producto3.jpg" alt="Producto 3" width="200">
                <img src="../assets/img/Producto4.jpg" alt="Producto 4" width="200">
                
                <br><br>

                <img src="../assets/img/Producto5.jpg" alt="Producto 5" width="200">
                <img src="../assets/img/Producto7.jpg" alt="Producto 7" width="200">
                <img src="../assets/img/Producto8.jpg" alt="Producto 8" width="200">
                <img src="../assets/img/Producto12.jpg" alt="Producto 12" width="200">
                <br><br>

                <img src="../assets/img/Producto9.jpg" alt="Producto 9" width="200">
                <img src="../assets/img/Producto11.jpg" alt="Producto 11" width="200">
                <img src="../assets/img/Producto6.jpg" alt="Producto 6" width="200">
                <img src="../assets/img/Producto10.jpg" alt="Producto 10" width="200">
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="footer-sup">
            <div class="footer-seccion">
                <img src="../assets/img/logo.png" alt="Logo footer" width="70" class="footer-logo">
            </div>

            <div class="footer-seccion">
                <h3 class="footer-titulo">CONTACTO</h3>
                <ul class="footer-lista">
                    <li><img src="../assets/img/whatsapp_icon.svg" alt="WhatsApp"> +56 9 8923 4239</li>
                    <li>mavenegas.s.mv@gmail.com</li>
                </ul>
            </div>

            <div class="footer-seccion">
                <h3 class="footer-titulo">NUESTRAS REDES</h3>
                <ul class="footer-lista lista-redes">
                    <li><a href="https://instagram.com/mavs_jewerly"><img src="../assets/img/instagram_icon.svg" alt="Instagram"></a></li>
                    <li><a href="https://tiktok.com/@mavs_jewerly"><img src="../assets/img/tiktok_icon.svg" alt="Tiktok"></a></li>
                    <li><a href="https://www.facebook.com/profile.php?id=61570840502174&mibextid=ZbWKwL"><img src="../assets/img/facebook_icon.svg" alt="Facebook"></a></li>
                </ul>
            </div>
        </div>
        <div class="footer-inf">
            <p>© Mavs Jewelry. Todos los derechos reservados. </p>
        </div>
    </footer>
</body>
</html>