<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
        <link rel="stylesheet" href="../css/main.css">
</head>
<body>
    <header class="navbar">
        <a href="../index.html" class="nav-logo-link">
            <img src="../assets/img/logo.png" alt="Logo MavsJewerly" width="100" class="nav-logo">
        </a>
        <h1 class="nav-titulo">Mavs Jewerly</h1>
        <nav class="nav-container">
            <ul class="nav-lista">
                <li class="nav-item"><a href="../index.html">Inicio</a></li>
                <li class="nav-item"><a href="productos.html">Productos</a></li>
                <li class="nav-item"><a href="contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main class="main-container">
        <section class="card-container">
            <h1 class="titulo-seccion">Catálogo de Productos</h1>
            <p class="texto-centrado">
                A continuación se presenta una selección de joyas artesanales elaboradas en plata, piedras semipreciosas, mostacilla, cristales premium y técnicas de alambrismo.
            </p>

        </section>

        <section class="card-container">
            
            <div class="galeria-productos">

                <div class="producto">
                    <img src="../assets/img/Producto1.jpg" alt="Producto 1">
                    <div class="info-producto">
                        <h3>Aro de plata con lamina obsidiana</h3>
                        <p>aro de plata con lámina  lisa de obsidiana negra . Propiedades protección, bloqueo y absorción de energía negativa.</p>
                    </div>
                </div>

                <div class="producto">
                    <img src="../assets/img/Producto2.jpg" alt="Producto 2">
                    <div class="info-producto">
                        <h3>Argolla de plata con lapizlazuli</h3>
                        <p>aro argolla de plata con piedra semipreciosa lapizlazuli. Propiedades piedra de la sabiduría y la verdad.</p>
                    </div>
                </div>

                <div class="producto">
                    <img src="../assets/img/Producto3.jpg" alt="Producto 3">
                    <div class="info-producto">
                        <h3>Aro mándala mostacilla miyuki</h3>
                        <p>aro mándala fabricado 100% a mano con mostacilla calibrada miyuki y cristal checo. bases y torito acero quirúrgico.</p>
                    </div>
                </div>

                <div class="producto">
                    <img src="../assets/img/Producto4.jpg" alt="Producto 4">
                    <div class="info-producto">
                        <h3>Aro de argolla doble de mostacilla calibrada miyuki</h3>
                        <p>aro de argolla doble 100% hecho a mano con mostacilla calibrada miyuki y cristal checo y bases y topitos de acero quirúrgico.</p>
                    </div>
                </div>

                <div class="producto">
                    <img src="../assets/img/Producto5.jpg" alt="Producto 5">
                    <div class="info-producto">
                        <h3>Aro de argolla doble de mostacilla miyuki</h3>
                        <p>Accesorio artesanal con detalles turquesa vibrantes y topitos de acero quirúrgico bañado en oro.</p>
                    </div>
                </div>

                <div class="producto">
                    <img src="../assets/img/Producto6.jpg" alt="Producto 6">
                    <div class="info-producto">
                        <h3>Pulsera Amatista</h3>
                        <p>Pulsera de amatista natural asociada a la armonía y serenidad.</p>
                    </div>
                </div>

                <div class="producto">
                    <img src="../assets/img/Producto7.jpg" alt="Producto 7">
                    <div class="info-producto">
                        <h3>Aro plata con piedra semipreciosa citrino</h3>
                        <p>aro de plata con piedra semipreciosa citrino y cristal Swarovski. Propiedades potencia el poder personal, la confianza, la autoestima y la fuerza de voluntad, transmuta la energía negativa en lugar de absorberla.</p>
                    </div>
                </div>

                <div class="producto">
                    <img src="../assets/img/Producto8.jpg" alt="Producto 8">
                    <div class="info-producto">
                        <h3>aro de plata con jade rojo</h3>
                        <p>aro de plata con piedra semipreciosa en bolita de jade rojo. Propiedades piedra de la fuerza vital, la pasión y la acción estimulante</p>
                    </div>
                </div>

                <div class="producto">
                    <img src="../assets/img/Producto9.jpg" alt="Producto 9">
                    <div class="info-producto">
                        <h3>Aro de alambrismo con mostacilla calibrada miyuki</h3>
                        <p>aro confeccionado en su totalidad en sus bases de alambre baño de oro, decorado con mostacilla calibrada miyuki y alambre baño de oro. topito baño de oro, puede hacerse completamente en alambre año de plata, hipoalergenico..</p>
                    </div>
                </div>

                <div class="producto">
                    <img src="../assets/img/Producto10.jpg" alt="Producto 10">
                    <div class="info-producto">
                        <h3>Collar Ojo de Tigre</h3>
                        <p>Collar de piedra ojo de tigre con tonos cálidos y elegantes.</p>
                    </div>
                </div>

                <div class="producto">
                    <img src="../assets/img/Producto11.jpg" alt="Producto 11">
                    <div class="info-producto">
                        <h3>Aros alambrismo</h3>
                        <p>aros de alambre bañados en oro y plata hecho 100%a mano decorado con cristales checos , topito de rosa y base de alambre bañados 1000% hipoalegénico.</p>
                    </div>
                </div>

                <div class="producto">
                    <img src="../assets/img/Producto12.jpg" alt="Producto 12">
                    <div class="info-producto">
                        <h3>Aros de Amatista Floral</h3>
                        <p>Delicados aros artesanales elaborados con piedra amatista natural y detalles florales en metal plateado.</p>
                    </div>
                </div>

            </div>

        </section>
    </main>

    <footer class="footer">
        <div class="footer-sup">
            <div class="footer-seccion">
                <img src="../assets/img/logo.png" alt="Logo footer" width="70" class="footer-logo">
            </div>

            <div class="footer-seccion">
                <h3 class="footer-titulo">CONTACTO</h3>
                <ul class="footer-lista">
                    <li><img src="../assets/img/whatsapp_icon.svg" alt="WhatsApp"> +56 9 8923 4239</li>
                    <li>mavenegas.s.mv@gmail.com</li>
                </ul>
            </div>

            <div class="footer-seccion">
                <h3 class="footer-titulo">NUESTRAS REDES</h3>
                <ul class="footer-lista lista-redes">
                    <li><a href="https://instagram.com/mavs_jewerly"><img src="../assets/img/instagram_icon.svg" alt="Instagram"></a></li>
                    <li><a href="https://tiktok.com/@mavs_jewerly"><img src="../assets/img/tiktok_icon.svg" alt="Tiktok"></a></li>
                    <li><a href="https://www.facebook.com/profile.php?id=61570840502174&mibextid=ZbWKwL"><img src="../assets/img/facebook_icon.svg" alt="Facebook"></a></li>
                </ul>
            </div>
        </div>
        <div class="footer-inf">
            <p>© Mavs Jewelry. Todos los derechos reservados. </p>
        </div>
    </footer>
</body>
</html>