<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
</head>
<body>
    <header>
        <img src="/assets/img/logo.png" alt="Logo Mavs Jewerly" width="100">
        <div>Mavs Jewerly</div>
        <nav>
            <ul>
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="/views/productos.html">Productos</a></li>
                <li><a href="/views/contacto.html">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <hr>

    <main>
        <div>
            <h1>Productos</h1>
            <div>
                <img src="/assets/img/Producto1.jpg" alt="Producto 1" width="200">
                <img src="/assets/img/Producto2.jpg" alt="Producto 2" width="200">
                <img src="/assets/img/Producto3.jpg" alt="Producto 3" width="200">
                <img src="/assets/img/Producto4.jpg" alt="Producto 4" width="200">
                
                <br><br>

                <img src="/assets/img/Producto5.jpg" alt="Producto 5" width="200">
                <img src="/assets/img/Producto7.jpg" alt="Producto 7" width="200">
                <img src="/assets/img/Producto8.jpg" alt="Producto 8" width="200">
                <img src="/assets/img/Producto12.jpg" alt="Producto 12" width="200">
                <br><br>

                <img src="/assets/img/Producto9.jpg" alt="Producto 9" width="200">
                <img src="/assets/img/Producto11.jpg" alt="Producto 11" width="200">
                <img src="/assets/img/Producto6.jpg" alt="Producto 6" width="200">
                <img src="/assets/img/Producto10.jpg" alt="Producto 10" width="200">
            </div>
        </div>
    </main>

    <hr>

    <footer>
        <div> <!-- contenedor principal para modulos del footer-->
            <div>
                <img src="/assets/img/logo.png" alt="Logo" width="70">
            </div>
            <div>
                <h3>CONTACTO</h3>
                <ul>
                    <li><img src="/assets/img/whatsapp_icon.svg" alt="WhatsApp"> +56 9 8923 4239</li>
                    <li>mavenegas.s.mv@gmail.com</li>
                </ul>
            </div>
            <div>
                <h3>NUESTRAS REDES</h3>
                <ul>
                    <li><a href="https://instagram.com/mavs_jewerly"><img src="/assets/img/instagram_icon.svg" alt="Instagram"></a></li>
                    <li><a href="https://tiktok.com/@mavs_jewerly"><img src="/assets/img/tiktok_icon.svg" alt="Tiktok"></a></li>
                    <li><a href="#"><img src="/assets/img/facebook_icon.svg" alt="Facebook"></a></li> <!-- Consultar al clente, no agrego direccion especifica rrss-->
                </ul>
            </div>
            <div>
                <p>© Mavs Jewelry. Todos los derechos reservados. </p>
            </div>
        </div>
    </footer>
</body>
</html>